.photo{
    width: 50px;
    height: 100px;
    margin: 10px 350px 100px 350px ;
}

.name{
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    color: crimson;
    
}

.address{
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    color: crimson;
    
}


